* a {
  text-decoration: none;
}
#svgli {
  padding: 0px 10px;
  width: 200px;
  height: 100%;
}
#total {
  padding: 0px 10px;
  width: 30px;
  height: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
